:root {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: -0.025em;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	max-width: 54rem;
	margin: 0 auto;
	padding: 0 1rem;
}
