.image-wrapper {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: var(--image-shadow);
	background-color: rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(
		to right,
		transparent 0,
		rgba(0, 0, 0, 0.1) 100dvw,
		rgba(0, 0, 0, 0.1) 200dvw,
		transparent 300dvw
	);
	background-size: 300dvw 100%;
	background-repeat: no-repeat;
	animation-name: image-loading;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.image-wrapper::after {
	position: absolute;
	z-index: 1;
	content: '';
	border-radius: 1rem;
	inset: 0;
	box-shadow: var(--image-shadow-inset);
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

@keyframes image-loading {
	0% {
		background-position: -300dvw 0;
	}
	100% {
		background-position: 300dvw 0;
	}
}
