*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	padding: 0;
}

html::after {
	content: '';
	display: block;
	position: fixed;
	inset: 0;
	z-index: -2;
}

body {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	padding: 0;
}

body::before,
body::after {
	content: '';
	display: block;
	position: fixed;
	inset: 0;
	z-index: -1;
}
